@import "../abstracts/variables";
.inscription{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    font-size: 17px;
    @include hover-border;
    .inscription-section, .registration-section{
        margin-top: 20px;
    }
    .registration-section{
        .registration-field{
            @include form;
            button{
            margin-top: 30px;
            width: 100%;
            @include button(primary);
            }
        }
    }
}
@media screen and (min-width:768px){
    .inscription{
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
        .inscription-section{
            max-width: 30%;
        }
    }
}
@media screen and (min-width:1024px){
    .inscription{
        gap: 100px;
        .section-title{
            font-size: 30px;
        }
    }
}
