@import "../abstracts/variables";
.footer{
    margin-top: 50px;
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
    color: $text-color-light;
    background-color: $bg-color-dark;
    border-top: solid $primary-color;
    &:hover{
        .footer-section{
            .section-title{
                border-bottom: solid $primary-color;
            }
        }
    }
    .footer-section{
        margin: 0px 10px;
        .section-title{
            font-size: 25px;
            color: $text-color-light;
            box-sizing: border-box;
            transition: border-width ease-out 0.2s;
        }
        .footer-list{
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            font-size: 14px;
            a{
                text-decoration: none;
                color: #fcfdff;
                transition: color linear 0.2s;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}
@media screen and (min-width:768px){
    .footer-section{
        margin: 0px 50px;
        padding: 10px;
        .section-title{
            font-size: 30px;
        }
    }
}
@media screen and (min-width:1024px){
    .footer{
        padding: 75px 0px 30px;
        .footer-section{
            margin: 0px 50px;
            padding: 10px;
            .section-title{
                font-size: 35px;
            }
        }
    }
}